:root {
    --main-color: #118fc0;
    --slide-width: 800px;
    --navigation-height: 10px;
    --navigation-width: 50px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.carousel {
    position: relative;
    width: var(--slide-width);
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    transition: margin-left 0.6s ease;
}

.slide {
    flex: 1 0 20%;
}

.slide img {
    width: 100%;
    display: block;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.bar {
    width: var(--navigation-width);
    height: var(--navigation-height);
    border: 2px solid var(--main-color);
    margin: 0 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.bar:hover {
    background-color: var(--main-color);
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides {
    margin-left: 0;
}

#slide2:checked ~ .slides {
    margin-left: -20%;
}

#slide3:checked ~ .slides {
    margin-left: -40%;
}

#slide4:checked ~ .slides {
    margin-left: -60%;
}

#slide5:checked ~ .slides {
    margin-left: -80%;
}