body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}

.slide img{
    width: 80%;
    height:100%;
    margin-left:15%;
}

.navegation {
    position: absolute;
    bottom: 20px;
    display: flex;
    

}

.bar{
    position: relative;
    right: -35%;
    border: 2px solid #007506;
    padding-right: 5%;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    
    
}

.bar:hover{
    background-color: #0c4700;
}

.carousel input {
    display: none;
}

.carousel{
    overflow: hidden;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
    margin-bottom: -2.5%;
    
}

.slide{
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}